body {
	background: #DDDDDD url(/images/bg.gif) repeat-x;
	width: 960px;
	color: #000000;
	margin: 0px auto 0px;
	padding: 0px;
	}


#container {
	background: #FFFFFF;
	width: 930px;
	margin: 40px auto 0px;
	padding: 0px 20px 20px 20px;
	}
	
ul {
	margin-left:60px;
	list-style:none;
}

ul li {
	display:inline;
}

ul li a {
	text-decoration:none;
	padding:20px;
	font-size:1.25em;
	color:darkblue;	
}

#big_hr {
	height:40px;
	background:gray;
}

#small_hr {
	height:10px;
	background:gray;
}